
<div class="hobbies">
<section class="ed">
    <div class="row">
        <div class="col span-1-of-4 box">

            <h3 class="textw">Anime</h3>
            <p  class="textw">
                I love watching Anime.Along with their Movies Which are Animated.
            </p>
        </div>
        <div class="col span-1-of-4 box">

            <h3 class="textw">Manga</h3>
            <p  class="textw">
                I love Reading Manga.Both coloured and Black and White ones. I also like Reading Novels too.
            </p>
        </div>
        <div class="col span-1-of-4 box">

            <h3 class="textw">Movies , Tv and Web serises</h3>
            <p class="textw">
                I love watching Movies , Tv serises and Web serises.Along with the Movies Which are Animated.
            </p>
        </div>
        <div class="col span-1-of-4 box">

            <h3 class="textw">Technology</h3>
            <p class="textw">
                I Love to know About evergrowing Technology.
            </p>
        </div>
    </div>

</section>
</div>